/* Tabs */
.tabswidget {
width: 99.5%;
border: 1px solid #dbdbdb;
margin-bottom: 15px;
border-radius:4px;
float:left;
}

.tabswidget p{
	font-size:13px;
	line-height:1.6em;
	color:#a8a8a8;
}

a.read_more_tabs{
	margin-top:10px;
	float:left;
	color:#61181d;
	width:60%;
}

a:hover.read_more_tabs{
	color:#777777 !important;
	text-decoration:none !important;
}

.tabswidget a {
 text-decoration: none;
}
	
	.tabswidget a:hover {
	color: #009;
	text-decoration: underline;
	}

	.tabnav li {
	display: inline;
	list-style: none;
	padding-right: 5px;
	}
	
	.tabnav li:first-child a{
		border-top-left-radius:7px;
		float:left;
		border-left:none;
		
	}
	
	.tabnav li:last-child a{
		
		float:left;
		border-right:1px solid #dbdbdb;
		
	}
	
	.read_more_tabs{
		font-size:11px;
		font-style:italic;
	}
	
.tabnav li a {
		text-decoration: none;
		color: #222;
		padding: 12px 22px;
		outline: none;
		float:left;
		height:23px;
		font-size:14px;
		border-left:1px solid #dbdbdb;;
		line-height:1.6em;
		}
		
		.tabnav li a:hover, .tabnav li a:active, .tabnav li.ui-tabs-selected a {
		background: #fff;
		color: #202020;
		text-decoration: none;
		
		}
     .tabnav li a:hover{
			background:#f9f9f9;
			
		}
		
		.tabnav li.ui-tabs-selected a{
		padding-bottom:13px;
		}
	.tabdiv {
	margin-top: 2px;
	background: #fff;
	padding:15px;
	border-radius:5px;
	float:left;
	padding-bottom:30px !important;
}


ul.tabnav{
	background: url(tabs_header_bg.png) repeat-x;
	height:47px;
	border-bottom:1px solid #dbdbdb;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	
}
	

.ui-tabs-hide {
	display: none;
}

#featuredvid {
		text-align: center;
}
		
.fvid {
			margin-bottom: 5px;
}
		
.vidselector li {
			text-align: left;
			list-style: none;
			padding: 5px;
			background: #ffffff;
			border: 1px solid #dedbd1;
			text-transform: uppercase;
			margin-bottom: 5px;
			}
